.navbar{
    background-color: #D32F2F !important;
}
.nav-link{
    color: #fff !important;
    font-weight: bold;
}
.fa-shopping-cart{
    font-size: 25px !important;
}
.fa-user-circle{
    font-size:25px !important;
}
.fa-truck,.fa-headphones,.fa-thumbs-up{
    font-size: 50px !important;
    margin-right: 10px;
    color: #D32F2F;
}
h3{
    color: #D32F2F;
}
.card1, .card2 ,.card3{
    display: flex;
    width: 300px;
    height: 100px;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.mainCrad{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.newArrivals{
    margin-top: 50px;
}
.card{
    width: 250px;
    height: 250px !important;
}
.card-text{
    font-weight: bold;
}
.btn-primary {
    width: 100%;
    background-color: #D32F2F;
}

@media screen and (max-width:600px){
    .card1,.card2,.card3{
        width: 100%;
    }
}